Backup/Levels/20*
Backup/Map16/20*
Backup/Palettes/20*
Backups/
[Dd]esktop.ini
Downloads/
Installs/
sysLMRestore/
/Tools/
.lunar_helper/*
flipscfg.bin
lunar-monitor-log.txt
config_user.txt
temp.*
Thumbs.db
*.*~
*.dll
*.exe
*.extmod
*.lrp
*.sfc
*.smc
*.smc~
*.spc
*.sym
*.zip
*.DS_Store
